body {
    font-family: arial, Helvetica, sans-serif;
    background: #ffb9b9;
}

#content {
    width: 200px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #dcfff6;
    border: 1px solid #000000;
}

h1 {
	text-align: right;
}

p {
	color: red;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 75px;
}

#futureValue {
    color: #019384;
}

br {
    clear: left;
}
